@import '../../style/variables', '../../style/mixins';

.education {
    @include flex(column) {
        gap: .7rem;
    }
}

.content {
    padding-left: 1rem;
    @include flex(column) {
        gap: .5rem;
    }
}