@import '../../style/variables', '../../style/mixins';

.article {
    @include flex(column) {
        gap: 1rem;
    }
    padding: 2rem;
    background: #fff;
    border-radius: map-get($radius, lg);
    @media (max-width: 600px) {
        padding: 1.5rem;
    }
}

.text {
    width: 100%;
    text-align: justify;
}