@import '../../style/variables';

.container {
  width: 6rem;

  @media (max-width: 800px) {
    max-width: 4rem;
  }
  @media print {
    max-width: 6rem;
  }
  border-radius: map-get($radius, full);
}

.avatar {
  max-width: 100%;
  border-radius: inherit;
}
