@import '../../style/variables';

.progress {
    width: 100%;
    &::-webkit-meter-bar {
        border: none;
        background: map-get($colors, bgIcon);
    }
    &::-webkit-meter-optimum-value {
        border-radius: map-get($radius, full);;
    }
}